<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.job.mapper.JobMapper">

<resultMap id="JobResultMap" type="com.itwillbs.project.job.dto.JobDTO">
	<id property="jobId" column="job_id"/>
	<result property="compId" column="comp_id"/>
	
	<result property="title" column="title"/>
	<result property="field" column="field"/>
	<result property="task" column="task"/>
	
	<result property="empType" column="emp_type"/>
	<result property="probation" column="probation"/>
	<result property="expType" column="exp_type"/>
	<result property="expYear" column="exp_year"/>
	<result property="edu" column="edu"/>
	<result property="salary" column="salary"/>
	
	<result property="address" column="address"/>
	<result property="isRemote" column="is_remote"/>
	
	<result property="mgrName" column="mgr_name"/>
	<result property="mgrPhone" column="mgr_phone"/>
	<result property="mgrEmail" column="mgr_email"/>
	<result property="isPublic" column="is_public"/>
	
	<result property="openDate" column="open_date"/>
	<result property="closeDate" column="close_date"/>
	<result property="postStatus" column="post_status"/>
	<result property="regDate" column="reg_date"/>
	<result property="postCheck" column="post_check"/>
	
	<result property="companyName" column="company_name"/>
	</resultMap>
	
	<insert id="insertJob">
	    INSERT INTO JOB_POSTING (
	        comp_id, 
	        title, 
	        field, 
	        task, 
	        exp_type, 
	        exp_year, 
	        edu, 
	        emp_type, 
	        probation, 
	        salary, 
	        address, 
	        is_remote, 
	        open_date, 
	        close_date, 
	        mgr_name, 
	        mgr_phone, 
	        mgr_email, 
	        is_public, 
	        post_status
	    ) VALUES (
	        #{compId},       
	        #{title}, 
	        #{field}, 
	        #{task}, 
	        #{expType}, 
	        #{expYear}, 
	        #{edu}, 
	        #{empType},
	        <choose>
	            <when test='probation != null and probation == "Y"'>
	                #{probation},
	            </when>
	            <otherwise>
	                DEFAULT,
	            </otherwise>
	        </choose>
	        #{salary}, 
	        #{address},
	        <choose>
	            <when test='isRemote != null and isRemote == "Y"'>
	                #{isRemote},
	            </when>
	            <otherwise>
	                DEFAULT,
	            </otherwise>
	        </choose>
	        #{openDate}, 
	        #{closeDate}, 
	        #{mgrName}, 
	        #{mgrPhone}, 
	        LOWER(#{mgrEmail}),
	        #{isPublic}, 
	        1                )
	</insert>	
	
	<select id="getJobList" resultType="job">
	    SELECT 
	        j.job_id as jobId,
	        j.comp_id as compId,
	        u.company_name as comName,
	        j.title,
	        j.field,
	        CASE 
		        WHEN j.exp_year IS NULL THEN '경력 무관'
		        WHEN j.exp_year = '0' OR j.exp_year LIKE '%신입%' THEN '신입'
		        ELSE '경력'
		    END as expYear,
	        j.edu,
	        j.address,
	        j.close_date as closeDate
	    FROM JOB_POSTING j JOIN USER_COMPANY u
		ON j.comp_id = u.user_id
	    <where>
	        <if test="expType != null and expType != ''">
	            <choose>
	                <when test="expType == 'new'">
	                    AND (j.exp_type = 'new' OR j.exp_year = '0')
	                </when>
	                <when test="expType == 'career'">
	                    AND j.exp_type = 'career'
	                </when>
	            </choose>
	        </if>
	        
	        <if test="selectedItems != null and selectedItems.size > 0">
			    AND (
			        <foreach item="item" collection="selectedItems" separator=" OR ">
			            j.address LIKE CONCAT('%', #{item}, '%')  OR j.field LIKE CONCAT('%', #{item}, '%') 
			         </foreach>
			    )
			</if>
			
	        <if test="eduType != null and eduType != ''">
			    <choose>
			        <when test='eduType == "학력무관"'>
			            AND j.edu = '학력무관'
			        </when>
			        <otherwise>
			            AND (j.edu = #{eduType} OR j.edu = '학력무관')
			        </otherwise>
			    </choose>
			</if>
	    </where>
	    ORDER BY j.job_id DESC
	</select>
	
	<select id="getExistingRegions" resultType="map">
	    SELECT DISTINCT 
	        SUBSTRING_INDEX(TRIM(REGEXP_REPLACE(address, '^[0-9\\s\\[\\],-]+', '')), ' ', 1) as city,
	        SUBSTRING_INDEX(SUBSTRING_INDEX(TRIM(REGEXP_REPLACE(address, '^[0-9\\s\\[\\],-]+', '')), ' ', 2), ' ', -1) as district
	    FROM JOB_POSTING
	    WHERE post_status = 1 
	      AND address IS NOT NULL
	</select>
	
	<select id="getJobListDetail" parameterType="long" resultMap="JobResultMap">
		SELECT 
			p.job_id,        
	        p.comp_id,       
	        c.company_name,
	        p.title,         
	        p.field,         
	        p.task,          
	        p.emp_type,      
	        p.probation,     
	        CASE 
		        WHEN p.exp_year IS NULL THEN '경력 무관'
		        WHEN p.exp_year = '0' OR p.exp_year LIKE '%신입%' THEN '신입·경력'
		        ELSE p.exp_year
		    END as exp_year,
	        p.edu,           
	        p.salary,        
	        p.address,       
	        p.is_remote,     
	        p.mgr_name,      
	        p.mgr_phone,     
	        p.mgr_email,     
	        p.is_public,     
	        p.open_date,     
	        p.close_date,    
	        p.post_status,   
	        p.reg_date,      
	        p.post_check
		FROM job_posting p JOIN user_company c
		ON p.comp_id = c.user_id
		WHERE p.job_id = #{jobId}
	</select>
	
	
	
	
	
	
	
</mapper>


























