<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.gpt.mapper.GptGenerateMapper">

	<select id="selectPromptData" resultType="com.itwillbs.project.gpt.dto.GptGenerateDTO">
<!-- 		coverLetterId를 가지고 cover_letter에서 meta_data와, 
			사용자가 선택한 질문code에 해당하는 질문name을 select -->\
	    SELECT 
	        c.title
	        , i.industry_name AS industryName
	        , jg.job_name AS jobName
	        , jr.role_name AS roleName
	        , c.applied_field AS appliedField
	        , c.company_name AS companyName
	        , ct.company_type AS companyType
	        , cl.career_name AS careerName
	        , (SELECT question_name 
	        	FROM question_category 
	        	WHERE question_code = #{questionCode}) AS questionName
	    FROM cover_letter c
	    LEFT JOIN industry i ON c.industry_idx = i.industry_idx
	    LEFT JOIN job_group jg ON c.job_idx = jg.job_idx
	    LEFT JOIN job_role jr ON c.role_idx = jr.role_idx
	    LEFT JOIN company_type ct ON c.company_idx = ct.company_idx
	    LEFT JOIN career_level cl ON c.career_idx = cl.career_idx
	    WHERE c.cover_letter_idx = #{coverLetterIdx}
	</select>
</mapper>