<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.review.mapper.ReviewMapper">

	<insert id="insertForm" useGeneratedKeys="true" keyProperty="coverLetterIdx">
		INSERT INTO cover_letter (
			user_id
			, title
			, industry_idx
			, job_idx
			, role_idx
			, applied_field
			, company_name
			, company_idx
			, career_idx
			, ai_generated
			, save_status
			, created_at
		)
		VALUES (
			#{userId}
			, #{title}
			, (SELECT industry_idx FROM industry WHERE industry_code = #{industryCode})
			, (SELECT job_idx FROM job_group WHERE job_code = #{jobCode})
			, (SELECT role_idx FROM job_role WHERE role_code = #{roleCode})
			, #{appliedField}
			, #{companyName}
			, (SELECT company_idx FROM company_type WHERE company_code = #{companyCode})
			, (SELECT career_idx FROM career_level WHERE career_code = #{careerCode})
			, #{aiGenerated}
			, #{saveStatus}
			, NOW()
		)		
	
	</insert>
	
	<update id="updateForm">
		UPDATE cover_letter
		SET
			title			= #{title}
			, industry_idx	= (SELECT industry_idx FROM industry WHERE industry_code = #{industryCode})
			, job_idx		= (SELECT job_idx FROM job_group WHERE job_code = #{jobCode})
			, role_idx		= (SELECT role_idx FROM job_role WHERE role_code = #{roleCode})
			, applied_field = #{appliedField}
			, company_name 	= #{companyName}
			, company_idx	= (SELECT company_idx FROM company_type WHERE company_code = #{companyCode})
			, career_idx	= (SELECT career_idx FROM career_level WHERE career_code = #{careerCode})
			, save_status	= #{saveStatus}
		WHERE cover_letter_idx = #{coverLetterIdx}
			AND user_id = #{userId}
	</update>
	
	<update id="updateContent">
		UPDATE cover_letter
		SET 
			question_idx = (SELECT 	question_idx
							FROM 	question_category
							WHERE 	question_code = #{questionCode})
			, content = #{content}
			, save_status = #{saveStatus}
			, ai_generated = #{aiGenerated} 
		WHERE cover_letter_idx = #{coverLetterIdx}
	</update>
	
	<delete id="deleteData">
		DELETE FROM cover_letter
		WHERE cover_letter_idx = #{coverLetterIdx}
	</delete>
	
	<select id="selectCoverLetter" resultType="com.itwillbs.project.review.dto.CoverLetterDTO">
		SELECT 
				c.cover_letter_idx
				, c.user_id
				, c.title
				, c.content
				, (select industry_code from industry i where i.industry_idx = c.industry_idx) as industryCode
			    , (select job_code from job_group g where g.job_idx = c.job_idx) as jobCode
				, (select role_code from job_role r where r.role_idx = c.role_idx) as roleCode
				, applied_field
				, company_name
				, (select company_code from company_type t where t.company_idx = c.company_idx) as companyCode
				, (select career_code from career_level l where l.career_idx = c.career_idx) as careerCode
				, (select question_code from question_category q where q.question_idx = c.question_idx) as questionCode
				, save_status
		FROM 	cover_letter c 
		WHERE 	cover_letter_idx = #{coverLetterIdx}
	</select>
</mapper>