<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.review.mapper.ReviewMapper">

	<insert id="insertForm" useGeneratedKeys="true" keyProperty="coverLetterIdx">
		INSERT INTO cover_letter (
			-- cover_letter_idx(AI)
			user_id
			, title
			, industry_idx
			, job_idx
			, role_idx
			, applied_field
			, company_name
			, company_idx
			, career_idx
			, ai_generated
			, save_status
			, created_at
		)
		VALUES (
			#{userId}
			, #{title}
			, (SELECT industry_idx FROM industry WHERE industry_code = #{industryCode})
			, (SELECT job_idx FROM job_group WHERE job_code = #{jobCode})
			, (SELECT role_idx FROM job_role WHERE role_code = #{roleCode})
			, #{appliedField}
			, #{companyName}
			, (SELECT company_idx FROM company_type WHERE company_code = #{companyCode})
			, (SELECT career_idx FROM career_level WHERE career_code = #{careerCode})
			, #{aiGenerated}
			, #{saveStatus}
			, NOW()
		)		
	
	</insert>
	
	<update id="updateContent">
		UPDATE cover_letter
		SET 
			question_idx = (SELECT 	question_idx
							FROM 	question_category
							WHERE 	question_code = #{questionCode})
			, content = #{content}
			, save_status = #{saveStatus}
			, ai_generated = #{aiGenerated} 
		WHERE cover_letter_idx = #{coverLetterIdx}
	</update>
	
	<delete id="deleteData">
		DELETE FROM cover_letter
		WHERE cover_letter_idx = #{coverLetterIdx}
	</delete>
	
	<select id="selectCoverLetter" resultType="com.itwillbs.project.review.dto.CoverLetterDTO">
		SELECT 
			cover_letter_idx
			, user_id
			, title
			, content
			, industry_idx
			, job_idx
			, role_idx
			, applied_field
			, company_name
			, company_idx
			, career_idx
			, save_status
		FROM cover_letter
		WHERE cover_letter_idx = #{coverLetterIdx}
	</select>
</mapper>