<?xml version="1.0" encoding="UTF-8"?>
<!-- Log4j2 설정 파일 -->
<Configuration>
	<!-- <Properties> 태그 사용하여 각 로그 설정에서 사용할 속성값 정의 -->
	<!-- <Property> 태그의 name 속성에 변수명처럼 사용할 이름 지정하고 태그 사이에 속성값 지정 -->
	<Properties>
		<!-- <Property> 태그오 name 속성값 layoutPattern 지정 후 로그메세지 형식 문자 패턴 지정 -->
<!-- 		<Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss} %-5p [%c] %m%n</Property> -->
		<!-- 대상을 %style{} 블록으로 감싸고 블록뒤에 {컬러코드명} 지정 시 해당 요소에 대한 컬러링 가능(ANSI 표준 컬러코드명 사용) -->
		<!-- 또한, 심각도의 경우 종류별로 다른 색상 표현을 위해 %highligh{} 로 감싸기 -->
		<!-- 참고) 스프링부트에서 컬러링 사용하려면 <PatternLayout> 태그에 disableAnsi="false" 와 noConsoleNoAnsi="false" 속성 추가 필요 -->
		<Property name="layoutPattern">%d{yyyy-MM-dd HH:mm:ss} %highlight{%-5p} %style{[%c]}{CYAN} %m%n</Property>
	</Properties>
	
	<!-- <Appenders> 태그 사용하여 로그를 출력할 위치와 출력 형식 지정 -->
	<Appenders>
		<!-- 1) <Console> 태그 사용하여 이클립스 콘솔에 출력하기 위한 로그 형식 지정 -->
		<!-- name 속성값으로 console(변경 가능), target 속성값으로 SYSTEM_OUT(고정값) 지정 -->
		<Console name="console" target="SYSTEM_OUT">
			<!-- <Console> 태그 내부에 <PatternLayout> 태그 사용하여 로그 메세지의 형식 지정 -->
			<!-- 1) 로그 출력 형식 : 5글자심각도(%-5p) 클래스명(%c) 로그메세지(%m%n) -->
<!-- 			<PatternLayout pattern="%-5p: %c - %m%n" /> -->
			<!-- 2) %d 활용하여 날짜 및 시각 표시 추가(기본형식 : 2026-01-30 14:37:06,424) -->
<!-- 			<PatternLayout pattern="%d %-5p: %c - %m%n" /> -->
			<!-- 3) 날짜 포맷 변경 : %d{날짜 및 시각 포맷 문자} -->
<!-- 			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c] %m%n" /> -->
			<!-- 4) <Properties> 태그에서 지정한 <Property> 태그 항목을 패턴으로 지정 -->
			<!-- => pattern 속성값으로 <Property> 태그의 name 속성값 지정 -->
			<PatternLayout pattern="${layoutPattern}" />
		</Console>
		
		<!-- ======================================================  -->
		<!-- 2)로그 메세지를 외부 파일로 출력하기 위한 Appender 설정  -->
		<!--
			RollingFile Appender : 파일의 크기 또는 파일 백업 인덱스 등의 지정을 통해서, 
			특정 크기 이상으로 파일 크기가 커지거나 특정 기간을 지나면
			기존 파일(target)
		 -->
		 <RollingFile name="rollingFile"
					 	fileName="./my_log/mylog.log"
					 	filePattern="./my_log/rmylog-%d{yyyy-mm-dd}%i.log">
		 	<!-- 파일에 출력할 로그메세지 형식(패턴) 지정) -->
			<PatternLayout pattern="${layoutPattern}" />
		 	
		 	<!-- <Policies> 태그 사이에 롤링 파일 정책 설정 -->
		 	<Policies> 
		 		<!-- <SizeBasedTiriggerIngPolicy> 파일 크기에 따른 롤링 정책 설정 -->
		 		<SizeBasedTriggeringPolicy size="1MB" />
		 	</Policies>
		 	
		 	
		 </RollingFile>
		 
		 <RollingFile name="rollingFileForErrorLevel"
					 	fileName="./my_log/mylog_error.log"
					 	filePattern="./my_log/my_log-%d{yyyy-mm-dd}%i.log">
		 	<!-- 파일에 출력할 로그메세지 형식(패턴) 지정) -->
			<PatternLayout pattern="${layoutPattern}" />
		 	
		 	<!-- <Policies> 태그 사이에 롤링 파일 정책 설정 -->
		 	<Policies> 
		 		<!-- <SizeBasedTiriggerIngPolicy> 파일 크기에 따른 롤링 정책 설정 -->
		 		<SizeBasedTriggeringPolicy size="1MB" />
		 	</Policies>
		 	<!-- 특정 대상 레벨(심각도) 로그에 대한 필터링
		 	 일반 로그 메세지에는 ERROR 레벨 이상 로그 제외, 에러 로그메세지에는 ERROR 레벨 이상 로그만 허용
		 	 인계점 필터링<ThresholdFilter>  -->
		 	 <ThresholdFilter level="ERROR"
		 	 					onMatch="ACCEPT"
		 	 					onMismatch="DENY" />
		 </RollingFile>
		 
		 <!-- sql 실행 관련 로그 메세지만 별도의 롤링 파일로 분리 -->
		 <RollingFile name="rollingFileForSQL"
					 	fileName="./my_log/rolling_log_sql.log"
					 	filePattern="./my_log/rolling_log_sql-%d{yyyy-mm-dd}%i.log">
		 	<!-- 파일에 출력할 로그메세지 형식(패턴) 지정) -->
			<PatternLayout pattern="${layoutPattern}" />
		 	
		 	<!-- <Policies> 태그 사이에 롤링 파일 정책 설정 -->
		 	<Policies> 
		 		<!-- <SizeBasedTiriggerIngPolicy> 파일 크기에 따른 롤링 정책 설정 -->
		 		<SizeBasedTriggeringPolicy size="1MB" />
		 	</Policies>
		 </RollingFile>

		 
		
		
		
			
		
	</Appenders>
	
	<!-- <Loggers> 태그 사용하여 로그를 관리할 대상 지정(대상에 대한 로그 메세지 사용 설정) -->
	<Loggers>
		<!-- 기본 로거는 <Root> 태그, 그 외의 로거는 <Logger> 태그 사용하여 설정 -->
		<!-- 각 태그에 level 속성을 사용하여 로그 메세지에 대한 심각도(레벨) 지정(심각도 : TRACE < DEBUG < INFO < WARN < ERROR < FATAL) -->
		<!-- 각 태그 내부에 <AppederRef> 태그의 ref 속성값으로 <Appenders> 태그에서 생성한 로그 출력 대상 지정 -->
		<!-- 1. 루트 로거 설정 -->
		<!-- 기본 출력되는 시스템 로그(별도의 대상을 지정하지 않은 모든 로그)를 담당 -->
		<Root level="INFO">
<!-- 		<Root level="DEBUG"> -->
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Root>
		
		<!-- 2. 여기서부터 현재 프로젝트(애플리케이션) 내의 각 로그 대상 지정 -->
		<!-- 1) 현재 프로젝트의 기본 패키지 내의 모든 클래스를 대상으로 지정 -->
		<Logger name="com.itwillbs.project" level="INFO" additivity="false">
<!-- 		<Logger name="com.itwillbs.mvc_board" level="DEBUG" additivity="false"> -->
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		
		<!-- 2) log4jdbc 를 활용한 SQL 로그 출력 -->
		<!-- 주의! log4jdbc.log4j2.properties 파일 필수! -->
		<!-- 2-1) jdbc.sqltiming 로그 : 실행되는 SQL 구문 + 실행에 소용된 시간(밀리초)을 포함하는 로그 -->
		<Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<!-- 2-2) jdbc.resultsettable 로그 : SELECT 구문 실행 결과(데이터테이블 = ResultSet 객체 내용)에 대한 로그 -->
		<Logger name="jdbc.resultsettable" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		
		<!-- 임시) Log4jdbc 로그 => 내용 많음 -->
		<Logger name="log4jdbc.log4j2" level="INFO" additivity="false">
<!-- 		<Logger name="log4jdbc.log4j2" level="OFF" additivity="false"> -->
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFileForSQL" />
		</Logger>
		
	</Loggers>
</Configuration>
















