@charset "UTF-8";
/* header 영역 */
#header-upper{
	background-color: #FFFFFF;
	height: 90px;
}
#header-bottom{
	background-color: #FFFFFF;
	color : #191970;
}

.nav-link{
	color: #0047AB;
}

/* main 영역 */
.adMain, .btAi {
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}


/* footer 영역 */

.footer-link {
	color: #333;
	text-decoration: none;
	margin: 0 4px;
}

.footer-link:hover {
  text-decoration: underline;
}
