@charset "UTF-8";

/* mainUser 전용 */


.ad-menu, .btnAi, .card-group {
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}


/* 공고 카드 영역 */
.job-section {
    background: #f5f6f8;
    padding: 40px;
    border-radius: 20px;
}

.job-card {
    background: white;
    border-radius: 16px;
    padding: 24px;
    height: 260px;
    transition: 0.3s;
    cursor: pointer;
}

.job-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.company-logo {
    height: 40px;
    object-fit: contain;
    margin-bottom: 20px;
}

.job-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.company-name {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}

.deadline {
    margin-top: 20px;
    font-size: 14px;
    text-align: right;
    color: #888;
}

