@charset "UTF-8";

 /* 칩(토글 라디오) 공통 스타일 보강 */
.chip-group { gap: .5rem; }
.chip {
  --bs-btn-padding-y: .375rem;
  --bs-btn-padding-x: .75rem;
  --bs-btn-font-size: .9rem;
  border-radius: 999px;
}

/* 비활성 select 흐리게 */
select:disabled { background-color:#f8f9fa; cursor:not-allowed; }

/* 토스트 메세지  */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4CAF50; /* 초록색 배경 */
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 12px;
  position: fixed; top: 30px; left: 50%;
  z-index: 9999;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}




