<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.itwillbs.project.user.dto.UserDTO" alias="user"/>
		<typeAlias type="com.itwillbs.project.job.dto.JobDTO" alias="job"/>
		<typeAlias type="com.itwillbs.project.resume.dto.ResumeDTO" alias="resume"/>
		<typeAlias type="com.itwillbs.project.job.dto.JobApplicationDTO" alias="application"/>
	</typeAliases>
</configuration>