<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.board.mapper.BoardMapper">
	
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="postId">
		INSERT INTO BOARD_POST (
			board_type
			, author_member_id
			, title
			, content
			, readcount
			, created_at
		)
		VALUES ( 
			"FREE"
			, #{authorMemberId}
			, #{title}
			, #{content}
			, 0
			, NOW()
		)
	</insert>
	
	

</mapper>

