<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.common.mapper.CompanyCardMapper">

	<select id="selectTodayCompanies" resultType="com.itwillbs.project.common.dto.CompanyCardDTO">
		SELECT
			j.job_id as jobId
			, j.title
		   	, u.company_name as companyName
		  	, j.salary
		  	, j.close_date as closeDate
		   	, reg_date
		FROM JOB_POSTING j JOIN USER_COMPANY u
		ON 	j.comp_id = u.user_id
		WHERE j.post_status = 1                                    -- 구인중인 공고 
		AND j.post_check = 2									   -- 검토 상태 : 2 승인
		AND	j.close_date >= NOW()								   -- 마감일이 남은 공고  
		AND	j.reg_date = (SELECT MAX(j1.reg_date)                  -- 기업별 가장 최근 공고
						  FROM 	job_posting j1 JOIN user_company u1
		                  ON 	j1.comp_id = u1.user_id
		                  WHERE u1.company_name = u.company_name)
		AND j.comp_id in (SELECT	p.user_id                      -- 상품 구매 status = active 
						  FROM		com_product p
                   		  WHERE		p.use_status = 'active')
		ORDER BY RAND()
		LIMIT 6
	</select>
	
	<update id="updateAllDisplayOff">
		UPDATE	banner
		SET		is_display = 0
	</update>
	
	<update id="updateSelectedDisplayOn">
		UPDATE 	banner
		SET 	is_display = 1 
		WHERE job_id in 
		<foreach collection="jobIds" item="jobId" open="(" separator="," close=")">
        	#{jobId}
   	 	</foreach>
	</update>
	
	
	<select id="selectPopularCompanies" resultType="com.itwillbs.project.common.dto.CompanyCardDTO">
		SELECT
			j.job_id as jobId
			, j.title
		    , u.company_name AS companyName
		    , j.salary
		    , j.close_date AS closeDate
		FROM JOB_POSTING j JOIN USER_COMPANY u
		ON j.comp_id = u.user_id
		WHERE j.job_id IN (SELECT job_id
						    FROM (SELECT 	job_id
							      FROM 		job_application
							      GROUP BY	job_id
							      ORDER BY 	COUNT(user_id) DESC
							      LIMIT 	6 ) AS top_jobs)
	</select>
	
	<select id="selectBookmarkCompanies" resultType="com.itwillbs.project.common.dto.CompanyCardDTO">
		SELECT 
			j.job_id as jobId
		    , j.title
		    , u.company_name AS companyName
		    , j.salary
		    , j.close_date AS closeDate
		FROM JOB_POSTING j
		JOIN USER_COMPANY u
		    ON j.comp_id = u.user_id
		WHERE j.job_id IN (
		    SELECT job_id
		    FROM (SELECT job_id
					FROM job_bookmark
					WHERE user_id = #{userIdx}
					ORDER BY RAND()
					LIMIT 6) AS bookmark)
	</select>

</mapper>