<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.project.store.mapper.StoreMapper">

	<!-- 세션에 저장된 회원 아이디를 통해 회원 정보 조회 -->
	<select id="selectUserInfo" resultType="member">	
		select	*
		from
			user
		where
			email = #{userEmail}
	</select>

	<!-- 구매자 정보 출력 -->
	<select id="selectOrderUser" resultType="order">
		select	*
		from	
			user
		where
			email = #{sId}
	</select>

	<!-- 구매할 상품 정보 조회 -->
	<select id="selectStoreInfo" resultType="store">
		select	*
		from
			product
		where
			product_id = #{productId}
	</select>
	
	<!-- 구매자의 회원 유형 조회 -->
	<select id="selectUserType" resultType="member">
		select	*
		from
			user
		where
			user_id = #{id}
	</select>
	
	<!-- 구직자)회원이 이용권을 보유하고 있는지 여부 조회 -->
	<select id="selectUserRemain" resultType="memberProduct">
		select
			*
		from
			user_product
		where
			user_id = #{id}
		and
			use_status = 'active'
	</select>
	
	<!-- 기업)회원이 이용권을 보유하고 있는지 여부 조회 -->
	<select id="selectComRemain" resultType="memberProduct">
		select
			*
		from
			com_product
		where
			user_id = #{id}
		and
			use_status = 'active'
	</select>
	
	<!-- 주문정보 삽입 -->
	<insert id="insertOrderInfo">
		insert into orderProduct(
			order_id
			, user_id
			, user_name
			, user_type
			, phone
			, email
			, product_id
			, product_name
			, product_price
		)
		values (
			#{order.orderId}
			, #{order.userId}
			, #{order.userName}
			, #{order.userType}
			, #{order.phone}
			, #{order.email}
			, #{store.productId}
			, #{store.productName}
			, #{store.productPrice}
		)
	</insert>
	
	<!-- 주문정보 조회 -->
	<select id="selectOrderInfo" resultType="order">
		select	*
		from 
			orderProduct
		where
			order_id = #{paymentId}
			
	</select>
	
	<!-- 결제 성공 시 결제 상태 변경 -->
	<update id="updateOrderStatus">
		update
			orderProduct
		set
			status = #{status}
		where
			order_id = #{orderId}
	</update>
	
	<!-- 결제 테이블에 저장 -->
	<insert id="insertPaymentInfo">
		insert into pay (
			pay_id
			, user_id
			, product_id
			, pay_method
			, card_name
			, card_num
			, pay_price
			, pay_date
			, pay_status
		)
		values (
			#{payId}
			, #{userId}
			, #{productId}
			, #{payMethod}
			, #{cardName}
			, #{cardNum}
			, #{payPrice}
			, #{payDate}
			, #{payStatus}
		)
		
	</insert>
	
	<!-- 구직자) 구매자가 결제한 이용권 정보를 이용권 테이블에 저장 -->
	<insert id="insertUserProduct">
		insert into user_product(
			pay_id
			, product_id
			, user_id
			, remaining_count
		)
		values(
			#{payId}
			, #{productId}
			, #{userId}
			, (
				select	product_count
				from	product
				where	product_id = #{productId}
			)
		)
	</insert>
	
	<!-- 기업) 구매자가 결제한 이용권 정보를 이용권 테이블에 저장 -->
	<insert id="insertComProduct">
		insert into com_product(
			pay_id
			, product_id
			, user_id
			, start_date
			, end_date
		)
		values(
			#{payId}
			, #{productId}
			, #{userId}
			, #{payDate}
			, adddate(#{payDate}, (
				select	product_duration
				from	product
				where	product_id = #{productId}
			))
		)
	</insert>
	
	<!-- 기업회원이 일반 이용권을 보유중인지 여부 조회 -->
	<select id="selectBasicProduct" resultType="memberProduct">
		select	*
		from	com_product
		where
			user_id = #{userId}
		and
			product_id = 'P-C1'
		and 
			use_status = 'active'
	</select>
	
	<!-- 일반 이용권 보유중인 기업 회원이 프리미엄 이용권을 구매한 경우, 기존의 일반 이용권은 소멸됨 -->
	<update id="updateUseStatus">
		update
			com_product
		set
			use_status = 'expired'
		where
			pay_id = #{payId}
	</update>
	
	<!-- 구직자 회원의 pass_count 추가 -->
	<update id="updatePassCount">
		update
			user_person
		set
			pass_count =  pass_count + (select	product_count
										from	product
										where	product_id = #{productId})
		where
			user_id = #{userId}
	</update>
</mapper>















