<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project.resume.mapper.ResumeMapper">
<!-- 	void insertResume(ResumeDTO resumeDTO); -->
	<insert id="insertJob">
	    INSERT INTO resume (
	        user_id,            -- 소유자 유저 ID (FK)
	        title,				-- 제목
		    name_kor,           -- 이력서 이름(한글)
		    name_eng,           -- 이력서 이름(영문)
		    name_han,                     -- 이력서 이름(한문) 
	       
	    ) VALUES (
	        #{user_id},       
	        #{name_kor}, 
	        #{name_eng}, 
	        #{name_han}, 
	        
	        <choose>
	            <when test="probation != null and probation == 'Y'">
	                #{probation},
	            </when>
	            <otherwise>
	                DEFAULT,
	            </otherwise>
	        </choose>
	        #{salary}, 
	        #{address},
	        <choose>
	            <when test="isRemote != null and isRemote == 'Y'">
	                #{isRemote},
	            </when>
	            <otherwise>
	                DEFAULT,
	            </otherwise>
	        </choose>
	        #{openDate}, 
	        #{closeDate}, 
	        #{mgrName}, 
	        #{mgrPhone}, 
	        #{mgrEmail}, 
	        #{isPublic}, 
	        1                )
	</insert>
	
	
	<select id="getJobList" resultType="job">
	    SELECT 
	        j.job_id as jobId,
	        j.comp_id as compId,
	        u.company_name as comName,
	        j.title,
	        j.field,
	        CASE 
		        WHEN j.exp_year = '0' OR j.exp_year LIKE '%신입%' THEN '신입'
			    ELSE '경력'
		    END as expYear,
	        j.exp_type as expType, j.edu,
	        j.address,
	        j.close_date as closeDate
	    FROM JOB_POSTING j JOIN USER_COMPANY u
	    ON j.comp_id = u.user_id
	    <where>
	        <if test="expType != null and expType != ''">
	            AND j.exp_type = #{expType}
	        </if>
	    </where>
	    ORDER BY j.job_id DESC
	</select>
</mapper>


























